<!DOCTYPE html>
<html>
<head>
    <title>Bugs List</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>New Bug</h1>
    <hr>
    <form method="post" >
      <label> Bug title</label>
        <input type="text" name="bugTitle">
        <input type="button" value="submit">
      </form>
  </body>
</html>